<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagrams.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EAA6A8F1C8E86BB00D54CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EAA6AA31C8E86BC00D54CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EAA6AAE1C8E86BC00D54CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
